<div class="container d-flex h-100">
  <div class="row justify-content-center align-self-center" align="center">

  {{#each bicycle}}

    <a href="/bicycle/{{code}}" class="waves-effect waves-light card col-8 h-100 yellow lighten-3 m-2"
href="/bicycle" style="color: black">
      <h5>Código: {{code}}</h5>
      <h5>Marca: {{brand}}</h5>
      <h5>Color: {{brand}}</h5>
    </a>

  {{/each}}

  </div>
</div>
